
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  

  @media (max-width: 768px) {
    footer {
      padding: 0.3rem;
    }
  }
  